* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E4BAFC; /* Couleur du bandeau */
    color: #fff;
}

.logo {
    font-size: 27px;
    font-weight: bold;
    font-family : Corrier-new; 
}

.boutons-haut-droite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

