body {
  background-color: #FCFBFC; /* Violet pâle */
  
}

h1{
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  background-color : #E4BAFC; 
  color : #3F065C; 
  display: inline-block;
  border-radius: 10px;
  border:double #cccccc;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #ECD2FB;
}

table, caption, th, td {
  border: 2px solid #E4BAFC
  }
  


.boutons-haut-droite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  
}

.bouton-div-haut-droite{
    margin:5px;
}

/* alert message box*/ 
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #FFA500; /* Orange */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  /* end alert message box*/ 


.stars {
    display: inline-block;
}

.star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

.star.selected {
    color: gold;
}




